<div>
    <h1>Current Temperate for my location</h1>
    <P>convert the image into html all data should be dynamic</P>
    <img src="/public/sample-gui.png" />
    <p>{{viewModel.variable1}}</p>
    <p>{{viewModel.variable2}}</p>
</div>